@font-face {
    font-family: 'Exo2';
    src: url('Exo2-Italic-VariableFont_wght.ttf') format('truetype'),
        url('Exo2-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Exo2', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    color: white;
    border-bottom: 1px solid #e7e7e7;
}

.header button {
    background-color: #fff;
    color: black;
    padding: 3px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header button:hover {
    background-color: black;
    color: #fff;
}

.car-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.car-details img {
    width: 45%;
    object-fit: contain;
    margin-left: 20px;
}

.car-details .details {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.car-details .details h3 {
    color: #333;
}

.car-details .details p {
    color: #666;
    display: flex;
    justify-content: space-between;
}

a {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: black;
}

.contact {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}